<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" xmlns:wpsCustomData="http://www.wps.cn/officeDocument/2013/wpsCustomData" mc:Ignorable="w14">
  <w:zoom w:percent="161"/>
  <w:displayBackgroundShape w:val="1"/>
  <w:bordersDoNotSurroundHeader w:val="1"/>
  <w:bordersDoNotSurroundFooter w:val="1"/>
  <w:documentProtection w:enforcement="0"/>
  <w:defaultTabStop w:val="500"/>
  <w:hyphenationZone w:val="360"/>
  <w:displayHorizontalDrawingGridEvery w:val="1"/>
  <w:displayVerticalDrawingGridEvery w:val="1"/>
  <w:characterSpacingControl w:val="doNotCompress"/>
  <w:footnotePr>
    <w:footnote w:id="0"/>
    <w:footnote w:id="1"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="0"/>
    <w:endnote w:id="1"/>
  </w:endnotePr>
  <w:compat>
    <w:spaceForUL/>
    <w:doNotLeaveBackslashAlone/>
    <w:ulTrailSpace/>
    <w:useFELayout/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="14"/>
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:docVars>
    <w:docVar w:name="commondata" w:val="eyJoZGlkIjoiNWQ4YjA1ZDA3ZWU1ODI5Y2EyM2Q5YjAxYjk0NDQ4MGIifQ=="/>
  </w:docVars>
  <w:rsids>
    <w:rsidRoot w:val="00000000"/>
    <w:rsid w:val="05922349"/>
    <w:rsid w:val="0B8C6CF8"/>
    <w:rsid w:val="0D5A50E3"/>
    <w:rsid w:val="0EEEE2EE"/>
    <w:rsid w:val="1BB82A97"/>
    <w:rsid w:val="1DAE4148"/>
    <w:rsid w:val="2101545C"/>
    <w:rsid w:val="26B62EF1"/>
    <w:rsid w:val="33DA9E9B"/>
    <w:rsid w:val="33F4F629"/>
    <w:rsid w:val="3AEB0608"/>
    <w:rsid w:val="3CE8434E"/>
    <w:rsid w:val="3E6FF63D"/>
    <w:rsid w:val="3F47EB2B"/>
    <w:rsid w:val="3F9FDA55"/>
    <w:rsid w:val="3FDF4AB0"/>
    <w:rsid w:val="3FEE85D8"/>
    <w:rsid w:val="3FEFD56B"/>
    <w:rsid w:val="3FFCB97D"/>
    <w:rsid w:val="48CC5F2D"/>
    <w:rsid w:val="4CEDBBAC"/>
    <w:rsid w:val="576F55A7"/>
    <w:rsid w:val="59BDB788"/>
    <w:rsid w:val="5B771516"/>
    <w:rsid w:val="5BEF04A4"/>
    <w:rsid w:val="5EEFEC53"/>
    <w:rsid w:val="5F3E0651"/>
    <w:rsid w:val="5F4F5ADA"/>
    <w:rsid w:val="5F674818"/>
    <w:rsid w:val="5FBFE48F"/>
    <w:rsid w:val="5FFEED7E"/>
    <w:rsid w:val="63F647C2"/>
    <w:rsid w:val="643D7E0E"/>
    <w:rsid w:val="64715B3A"/>
    <w:rsid w:val="69271AFF"/>
    <w:rsid w:val="6B99415D"/>
    <w:rsid w:val="6D72BF24"/>
    <w:rsid w:val="6D7F5C3C"/>
    <w:rsid w:val="6DDF034E"/>
    <w:rsid w:val="6E97D185"/>
    <w:rsid w:val="6FB32028"/>
    <w:rsid w:val="6FF733C3"/>
    <w:rsid w:val="72FF9C14"/>
    <w:rsid w:val="72FFF92E"/>
    <w:rsid w:val="73EB0661"/>
    <w:rsid w:val="775FFE76"/>
    <w:rsid w:val="77F7B086"/>
    <w:rsid w:val="77F9778F"/>
    <w:rsid w:val="77FFE2A3"/>
    <w:rsid w:val="7AEC944A"/>
    <w:rsid w:val="7DCE6B2B"/>
    <w:rsid w:val="7DDD7FB7"/>
    <w:rsid w:val="7DF959E2"/>
    <w:rsid w:val="7EFDA6CB"/>
    <w:rsid w:val="7EFFA409"/>
    <w:rsid w:val="7F6737B4"/>
    <w:rsid w:val="7F67DE2C"/>
    <w:rsid w:val="7F6F216F"/>
    <w:rsid w:val="7F7DCF47"/>
    <w:rsid w:val="7F7F2C22"/>
    <w:rsid w:val="7FB5D95A"/>
    <w:rsid w:val="7FF7EB71"/>
    <w:rsid w:val="7FFF0178"/>
    <w:rsid w:val="7FFF5CD8"/>
    <w:rsid w:val="7FFFAD31"/>
    <w:rsid w:val="997FCEE3"/>
    <w:rsid w:val="9D773ADD"/>
    <w:rsid w:val="9FFE29DF"/>
    <w:rsid w:val="AFDF088E"/>
    <w:rsid w:val="B3D34B61"/>
    <w:rsid w:val="B69A3C63"/>
    <w:rsid w:val="B7BF4DDF"/>
    <w:rsid w:val="BA23968D"/>
    <w:rsid w:val="BAFB8E7D"/>
    <w:rsid w:val="BBEF5D6A"/>
    <w:rsid w:val="BBFC5E68"/>
    <w:rsid w:val="BCEBD6D2"/>
    <w:rsid w:val="BCFD7A76"/>
    <w:rsid w:val="BD6B81A0"/>
    <w:rsid w:val="BE7FB2C8"/>
    <w:rsid w:val="BE9BF2BE"/>
    <w:rsid w:val="BEE42C6D"/>
    <w:rsid w:val="BF3E99BB"/>
    <w:rsid w:val="BFCBA5F2"/>
    <w:rsid w:val="BFFDE2A1"/>
    <w:rsid w:val="C9EF6A62"/>
    <w:rsid w:val="CD7FAD0D"/>
    <w:rsid w:val="CF6AAD7F"/>
    <w:rsid w:val="D7B5F79C"/>
    <w:rsid w:val="DBA9DAA9"/>
    <w:rsid w:val="DBDB9F78"/>
    <w:rsid w:val="DD7F6448"/>
    <w:rsid w:val="DDEC39F8"/>
    <w:rsid w:val="DEDF0374"/>
    <w:rsid w:val="DFBF3D31"/>
    <w:rsid w:val="E3A7CB25"/>
    <w:rsid w:val="E3FF9560"/>
    <w:rsid w:val="EE0F614E"/>
    <w:rsid w:val="EE7CA6F3"/>
    <w:rsid w:val="EF17AF1A"/>
    <w:rsid w:val="EFF7845E"/>
    <w:rsid w:val="F1D7E444"/>
    <w:rsid w:val="F1EAF164"/>
    <w:rsid w:val="F3DFD9DF"/>
    <w:rsid w:val="F3ED79A2"/>
    <w:rsid w:val="F47B03EC"/>
    <w:rsid w:val="F5BFE66F"/>
    <w:rsid w:val="F5F3FF2A"/>
    <w:rsid w:val="F5F6185A"/>
    <w:rsid w:val="F73DB915"/>
    <w:rsid w:val="F77CB9B6"/>
    <w:rsid w:val="F7874722"/>
    <w:rsid w:val="F7DBDE27"/>
    <w:rsid w:val="F9E930F4"/>
    <w:rsid w:val="FA77B0C2"/>
    <w:rsid w:val="FABD36A6"/>
    <w:rsid w:val="FBDBC996"/>
    <w:rsid w:val="FBFFC7FD"/>
    <w:rsid w:val="FC3FDAE6"/>
    <w:rsid w:val="FCEFA4CD"/>
    <w:rsid w:val="FDBF986F"/>
    <w:rsid w:val="FDCFAD2D"/>
    <w:rsid w:val="FE7A7E98"/>
    <w:rsid w:val="FEA47172"/>
    <w:rsid w:val="FF2D6B59"/>
    <w:rsid w:val="FFBED09F"/>
    <w:rsid w:val="FFDF80FA"/>
    <w:rsid w:val="FFE93F68"/>
    <w:rsid w:val="FFEBC20B"/>
    <w:rsid w:val="FFF7173D"/>
    <w:rsid w:val="FFFD6362"/>
  </w:rsids>
  <m:mathPr>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <mc:AlternateContent>
    <mc:Choice Requires="wpsCustomData">
      <wpsCustomData:typoFeatureVersion val="0"/>
    </mc:Choice>
  </mc:AlternateContent>
</w:settings>
